<% flash.each do |key, value| %>
    <div class="error"><strong><%= value %></strong></div>
<% end %>

<h1>New article</h1>

<%= form_with scope: :articles, url: articles_path, local: true do |f| %>
    <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </p>

    <p>
        <%= f.label :content %><br>
        <%= f.text_field :content %>
    </p>

    <p>
        <%= f.submit "Create Article" %>
    </p>
<% end %>

